.employees {
    display: flex;

    .listWrap {
        width: 70vw;
        padding: 20px;

        .list {
            display: flex;
            flex-wrap: wrap;
        }

        .oneCharWrap {
            flex-direction: column;
            display: flex;
            padding: 10px;

            &>div:first-child {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .name {
                font-size: 16px;

                &.active {
                    color: $blue;
                }
            }
        }
    }

    .birthdayWrap {
        padding: 20px;
        max-width: 30vw;
        border-left: 1px solid;

        .oneMonthWrap {
            flex-direction: column;
            display: flex;
            padding: 10px;

            &>div:first-child {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .name {
                font-size: 14px;
                line-height: 1.3em;

                &.active {
                    color: $blue;
                }

            }


        }
    }
}