.employees {
    display: flex;


    .listWrap {
        width: 70vw;
        //background-color: $green;
        padding: 20px;

        .list {
            display: flex;
            flex-wrap: wrap;
        }

        .oneCharWrap {
            flex-direction: column;
            display: flex;
            // background-color: $secomdary;
            // border: 1px solid #777;
            padding: 10px;

            &>div:first-child {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .name {
                font-size: 16px;

            }


        }
    }

    .birthdayWrap {
        max-width: 30vw;
        background-color: $blue;
    }
}