header {
	display: flex;
	align-items: center;
	min-height: 30px;
	padding: 0 25px 0 0;
	color: $info;
	background-color: $dark;
	border-bottom: 1px solid $black;
	a {
		color: inherit;
		text-decoration: none;
		padding: 0 1vw;
	}
	a:hover,
	a:active {
		color: color($info, -20);
	}
	
	.active {
		color: white;
	}

	.logo {
		display: flex;
		justify-content: center;
		align-items: center; 
		min-width: 50px;
		background-color: $info;
		margin: 0 20px;
    	padding: 2px;
		a { 
			color: $dark;
		}
	}
}
	